<div ng-init="preProcessComments(child)" class="blg-comment-padding padding">
<div ng-repeat="child in child.children">
<div ng-if="child.$$load">
    <div class="item item-stable blg-item-comment item-button-left item-button-right"
        ng-click="toggleComment(child)">
        <button class="button button-light blg-avatar-button" ng-click="loadJournal(child.postername)">
            <div class="blg-avatar-cropper">
                <div class="blg-avatar-rounded"
                    style = 'background-image: url({{child.$$userpic}})'>
                </div>
            </div>
        </button>

        <p class="blg-right">{{child.datepostunix | unixFormat}}</p>
        <p>{{child.postername}}</p>
        <h2><i ng-show="child.children" class="icon {{child.$$show ? 'ion-arrow-down-b' : 'ion-arrow-right-b'}}"></i>  {{child.$$subject}}</h2>

        <div class="buttons blg-post-buttons">
            <button class="button button-icon icon ion-ios-compose-outline"
                ng-class="{disabled: !postData.canComment}"
                ng-click="openCommentEdit(journal,post.ditemid,child)">
            </button>
            <button class="button button-icon icon ion-ios-trash-outline"
                ng-class="{disabled: !(child.postername == editData.userName)}"
                ng-click="deleteComment(journal,post.ditemid,child.dtalkid)">
            </button>
        </div>
    </div>
    <ion-item class="blg-content blg-html">
        <pre
             ng-bind-html="child.$$body"
             ng-click="processLink($event)">
        </pre>
    </ion-item>
    <div ng-if="child.$$show">
        <ng-include ng-if="child.children" src="'app/post/comment.html'">
        </ng-include>
    </div>
</div>
</div>
<ion-item
    ng-if="child.$$load_more"
    class="button icon-left ion-ios-chatboxes-outline button-positive"
    ng-click="loadComments(child)">
    More comments
</ion-item>
</div>
