<ion-view cache-view="false">
    <ion-nav-title>{{post.poster}}</ion-nav-title>
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img actual-src="{{post.$$userpic}}" ng-src="{{placeholder}}" />
                <h2>{{post.$$subject}}</h2>
                <p><span>{{post.poster}}</span><span style="float: right">{{post.eventtime}}</span></p>
            </div>
            <div class="item item-body">
                <pre class="blg-html"
                    compile="post.$$event"
                    ng-click="processLink($event)"
                    images-loaded="imgLoadedEvents">
                </pre>
            </div>
            <ion-item ng-if="post.props && post.props.taglist" class="item-icon-left">
                <i class="icon ion-ios-pricetags-outline placeholder-icon"></i>
                <span>{{post.props.$$taglist}}</span>
            </ion-item>
            <ion-item ng-if="post.props && post.props.current_location" class="item-icon-left">
                <i class="icon ion-ios-location-outline placeholder-icon"></i>
                <span>{{post.props.$$current_location}}</span>
            </ion-item>
            <ion-item ng-if="post.props && post.props.current_mood" class="item-icon-left">
                <i class="icon ion-happy placeholder-icon"></i>
                <span>{{post.props.$$current_mood}}</span>
            </ion-item>
            <a class="item item-icon-left positive"
                href="#/app{{auth.get_logged_in() ? '/tab' : ''}}/{{mode}}/{{journal}}/{{post.itemid}}/comments">                   
                <i class="icon ion-ios-chatboxes"></i> Comments
                <span class="badge badge-positive">{{post.reply_count}}</span>
            </a>
        </div>
    </ion-content>
</ion-view>