<ion-view>
    <div ng-include="'app/menu/menu-header.html'"></div>
    <ion-header-bar class="menu-header menu-header-auth bar-subheader">
        <ion-item class="item-icon-left" ng-click="auth.logged_in = false" href="#/app/journal/{{conf.current}}">
            <i class="icon ion-log-out"></i>Logout</ion-item>
        <ion-item class="menu-tabs tabs tabs-secondary tabs-icon-top">
            <a class="tab-item" ng-click="main.show_list = 'bookmarks';" ng-class="{'active': main.show_list === 'bookmarks'}">
                    <i class="icon menu-icon-tab" ng-class="main.show_list === 'bookmarks' ? 'ion-ios-bookmarks' : 'ion-ios-bookmarks-outline'">
                    </i> Bookmarks
                </a>
            <a class="tab-item" ng-click="main.show_list = 'friends';" ng-class="{'active': main.show_list === 'friends'}">
                    <i class="icon menu-icon-tab" ng-class="main.show_list === 'friends' ? 'ion-ios-heart' : 'ion-ios-heart-outline'">
                    </i> Friends
                </a>
            <a class="tab-item" ng-click="main.show_list = 'groups';" ng-class="{'active': main.show_list === 'groups'}">
                    <i class="icon menu-icon-tab" ng-class="main.show_list === 'groups' ? 'ion-ios-chatboxes' : 'ion-ios-chatboxes-outline'">
                    </i> Groups
                </a>
        </ion-item>
        <ion-item class="main-list-title item-input-inset">
            <button class="main-list-button button button-icon" ng-click="main.show_delete = !main.show_delete">
                <i class="icon ion-ios-minus-outline"></i>
            </button>
            <div class="main-list-text" ng-switch="main.show_list">
                <div ng-switch-when="bookmarks">Bookmarks</div>
                <div ng-switch-when="friends">Friends</div>
                <div ng-switch-when="groups">Groups</div>
                <div ng-switch-default>none</div>
            </div>
            <div class="main-list-badge badge badge-positive" ng-switch="main.show_list">
                <div ng-switch-when="bookmarks">{{bookmarks.length}}</div>
                <div ng-switch-when="friends">{{friends.length}}</div>
                <div ng-switch-when="groups">{{groups.length}}</div>
                <div ng-switch-default>0</div>
            </div>
        </ion-item>
    </ion-header-bar>
    <div ng-show="main.show_list === 'bookmarks'" ng-include="'app/bookmarks/menu-bookmarks.html'"></div>
    <div ng-show="main.show_list === 'friends'" ng-include="'app/friends/menu-friends.html'"></div>
    <div ng-show="main.show_list === 'groups'" ng-include="'app/groups/menu-groups.html'"></div>
    <div ng-include="'app/menu/menu-footer.html'"></div>
</ion-view>