
/* Menu */

.main-bar-button-left {
     padding-left: 1px !important;
     padding-right: 11px !important;
}

.main-bar-button-right {
     padding-left: 2px !important;
     padding-right: 2px !important;
}

.menu-icon-avatar {
    border-radius: 100% !important;
    width: 36px !important;
    height: 36px !important;
    left: 8px !important;
    top: 8px !important;
}

.menu-icon-tab {
    padding-top: 4px;
}

.menu-header {
    padding: 0 !important;
    border: 0 !important;
}

.menu-header-anon {
    height: 106px !important;
}

.menu-header-auth {
    height: 213px !important;
}

.menu-list-anon {
    top: 149px !important;
    /* menu-header-anon.height + 44 + 1 */
}

.menu-list-auth {
    top: 257px !important;
    /* menu-header-auth.height + 44 + 1 */
}

.menu-tabs {
    height: 54px !important;
    width: auto !important;
}

.main-list-title {
     height: 54px !important;
}

.main-list-button {
     padding-left: 1px !important;
     padding-right: 16px !important;
}

.main-list-text {
     width: 100% !important;
}

.main-footer-bar {
     height: 22px !important;
     padding-top: 0 !important;
     padding-bottom: 0 !important;
}

.main-footer-text-left {
     width: 100%;
     font-weight: bold;
     text-align: left;
}

.main-footer-text-right {
     width: 100%;
     font-weight: bold;
     text-align: right;
}