<ion-header-bar class="item-input-inset">
    <button class="main-bar-button-left button button-icon icon ion-ios-plus-outline"
        ng-click="bmks.add_journal(search.value)">
    </button>
    <div class="item-input-wrapper">
        <i class="icon ion-ios-search-strong"></i>
        <input type="search" placeholder="Journal" ng-model="search.value">
        <i ng-if="search.value.length > 0" ng-click="search.value = '';" class="icon ion-close"></i>
    </div>
    <a class="main-bar-button-right button button-icon ion-ios-arrow-thin-right"
        ng-href="{{ auth.get_logged_in() ? '#/app/tab/journal/' : '#/app/journal/'}}{{search.value}}">
    </a>
</ion-header-bar>