
.feed-item .item-content {
    //background-color: green !important;
    padding-right: 10px;
    height: 77px;
}

.ion-chatbubble.light {
    color: #aaa;
    -webkit-text-stroke: 0px transparent;
    font-size: 14px;
    width: 50px;
    padding-top: 10px;
    text-align: center;
    position: relative;

    display: block;
    float: right;
    height: 86px;
}

.ion-chatbubble.light::before {
    color: #fff;
    text-decoration: none;
    -webkit-text-stroke: 1px #aaa;
    position: absolute;
    font-size: 48px;
    right: 6px;
    top: -4px;
    z-index: -1;
}
