
.feed-count {
	display:block !important;
	width: 64px !important;
	height: 100% !important;
	text-align:center !important;
	right: 0 !important;
}

.feed-count span {
	position: absolute !important;
	left: 0 !important;
	right: 0 !important;
	color: #aaa;
}

.feed-count-icon {
	margin-top: 11px;
	font-size: 54px !important;
}

.feed-count-num {
	margin-top: 27px;
	font-size: 16px !important;
}
